* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 

  list-style: none;
}


.topic-bar {
	border-right:1px rgba(0,0,0,0.2) solid;
}

.topic{
	padding: 17px 30px 17px 40px;
	font-size: 27px;
}

.topic:nth-child(1){
	margin-top: 30px;
}

#header{
  color: rgba(0,0,0,0.4);
  height: 70px;
  padding-top: 35px;
  margin-left: 80%
}

.link:hover{
    text-decoration: none;
}

.selected {
  background-color: rgba(0,0,255,0.1);
}