<!DOCTYPE html>
<html lang="en" ng-app="ojApp">
<head>
	<meta charset="utf-8">
    <meta name="author" content="fR0DDY">
	<title>Computer Science - Online Judge Hints</title>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/app.css">
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-40553602-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top app-nav">
        <div class="container">
            <div class="navbar-header">
              <a href="../index.html" class="navbar-brand">fR0DDY</a>
            </div>
            <nav class="navbar-collapse collapse" role="navigation">
                <ul class="nav navbar-nav navbar-responsive-collapse">
                    <li>
                        <a href="../index.html">Home</a>
                    </li>
                    <li class="active dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Computer Science <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Online Judge Hints</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mathematics <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="../math/visual-proofs.html">Visual Proofs</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3" ng-controller="ojAppCtrl">
                <div class="app-sidebar affix">
                    <ul class="nav app-sidenav">
                        <li ng-repeat="oj in ojs" class="{{oj.cls}}">
                            <a ng-click="func()"> {{oj.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9" ng-view></div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
    <script type="text/javascript" src="../js/oj.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>
</body>
</html>