<!DOCTYPE html>
<html lang="en" ng-app="ojApp">
<head>
	<meta charset="utf-8">
    <meta name="author" content="fR0DDY">
	<title>Online Judge Hints</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/oj.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3 bs-docs-sidebar" ng-controller="ojAppCtrl">
                    <ul class="nav nav-list bs-docs-sidenav affix">
                        <li ng-repeat="oj in ojs" class="{{oj.cls}}">
                            <a ng-click="func()" topic="{{oj.name}}"><i class="icon-chevron-right"></i> {{oj.name}}</a>
                        </li>
                    </ul>
            </div>
            <div class="span9" ng-view></div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/oj.js"></script>
</body>
</html>