<!doctype html>
<html lang="en" ng-app="ojApp">
<head>
	<meta charset="utf-8">
	<title>Online Judge Helper</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/oj.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3 bs-docs-sidebar" ng-controller="ojAppCtrl">
                    <ul class="nav nav-list bs-docs-sidenav affix">
                        <li ng-repeat="oj in ojs" class="{{oj.cls}}">
                            <a ng-click="func()" topic="{{oj.name}}"><i class="icon-chevron-right"></i> {{oj.name}}</a>
                        </li>
                    </ul>
            </div>
            <div class="span9" ng-view></div>
        </div>
    </div>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular-resource.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/oj.js"></script>
</body>
</html>